    <form is="add-link-form" class="flex-form-row" method="post" action="/links">
      <label for="input-link-add">Add Link:</label>
      <input id="input-link-add" name="url" type="url" placeholder="http://example.com">
      <button id="btn-link-add" class="btn-link-add" name="btn-link-add" type="submit" value="1">Add</button>
    </form>