    <form is="form-edit-mode" class="flex-form-row responsive" method="get" action="/">
      {{ if .EditMode }}
        <button class="btn-edit-mode">Done</button>
      {{ else }}
        <button class="btn-edit-mode" name="editing" value="1">Edit</button>
      {{ end }}
    </form>