<form is="form-style-editor" action="/styles">
  <fieldset>
    <button name="btn-styles-reset" class="reset" type="reset">Reset</button>
    <a href="/static/main.css" target="_blank">Open site stylesheet</a>
    <button name="btn-styles-save" type="submit" class="submit" formmethod="post">Save</button>
  </fieldset>
  <textarea name="styles">{{ css .StyleSheet }}</textarea>
  <ul class="errors" hidden></ul>
</form>