<form is="form-style-editor" class="form-style-editor" action="/styles">
  <fieldset>
    <button name="btn-styles-reset" type="reset">Reset</button>
    <button name="btn-styles-save" type="submit" formmethod="post">Save</button>
    <button name="btn-styles-open" type="button" hidden>New Window</button>
  </fieldset>
  <textarea name="styles">{{ .StyleSheet }}</textarea>
</form>