    <form class="flex-form-row" method="post" action="/users">
      <label for="input-site-title">Rename Site:</label>
      <input id="input-site-title" name="site-title" type="text" value={{ .User.SiteTitle }}>
      <button id="btn-edit-site-title"type="submit">Rename</button>
    </form>