<form is="form-style-editor" action="/styles">
  <fieldset>
    <button name="btn-styles-reset" class="btn-reset" type="reset">Reset</button>
    <button name="btn-styles-save" type="submit" class="btn-submit" formmethod="post">Save</button>
    {{/* <button name="btn-styles-open" type="button" hidden>New Window</button> */}}
  </fieldset>
  <textarea name="styles">{{ css .StyleSheet }}</textarea>
  <ul class="errors" hidden></ul>
</form>