    <form class="flex-form-row" method="get" action="/opml">
      <label for="btn-download-opml">Export OPML:</label>
      <button id="btn-download-opml" type="submit">Download OPML File</button>
    </form>