<form class="flex-form-row" method="post" enctype="multipart/form-data" action="/opml">
  <label for="opml-file">Import OPML:</label>
  <input type="file" id="opml-file" accept=".xml,.opml" name="opml_file">
  <button id="btn-upload-opml" type="submit">Upload OPML File</button>
</form>