<body is="home-page" {{ if .EditMode }}class="editing"{{end}}>
  <header>
    <h1>{{ .User.SiteTitle }}</h1>
  </header>
  <main>
    <ol is="link-list">
    {{ range.Links }}
      {{ template "link.html.tmpl" .}}
    {{ end }}
    <template>
    {{ template "link.html.tmpl" .EmptyLink }}
    </template>
    </ol>
  </main>
  <footer id="link-global-options">
    <form is="edit-mode-form" class="flex-form-row" method="get" action="/">
      {{ if .EditMode }}
        <button class="btn-edit-mode">Done</button>
      {{ else }}
        <button class="btn-edit-mode" name="editing" value="1">Edit</button>
      {{ end }}
    </form>
    <form is="add-link-form" class="flex-form-row" method="post" action="/links">
      <label for="input-link-add">Add Link:</label>
      <input id="input-link-add" name="url" type="text" placeholder="example.com">
      <button id="btn-link-add" class="btn-link-add" name="btn-link-add" type="submit" value="1">Add</button>
    </form>
    {{ if .IsDefaultUser  }}
    <form class="flex-form-row" method="post" action="/session">
      <input type="text" name="email" placeholder="you@example.com">
      <button id="btn-login" class="btn-login" type="submit">Login/Signup</button>
    </form>
    {{ else }}
    <form class="flex-form-row" method="post" action="/session/delete">
      <button id="btn-logout" class="btn-logout" type="submit">Logout</button>
    </form>
    {{ end }}
  </footer>

  {{ if not .IsDefaultUser  }}
  <section id="user-settings">
    <h2>Settings</h2>
    <form class="flex-form-row" method="post" action="/users">
      <label for="input-site-title">Rename Site:</label>
      <input id="input-site-title" name="site-title" type="text" value={{ .User.SiteTitle }}>
      <button id="btn-edit-site-title"type="submit">Rename</button>
    </form>
    <form class="flex-form-row" method="post" enctype="multipart/form-data" action="/opml">
      <label for="opml-file">Import OPML:</label>
      <input type="file" id="opml-file" accept=".xml,.opml" name="opml_file">
      <button id="btn-upload-opml" type="submit">Upload OPML File</button>
    </form>
    <form class="flex-form-row" method="get" action="/opml">
      <label for="btn-download-opml">Export OPML:</label>
      <button id="btn-download-opml" type="submit">Download OPML File</button>
    </form>
  </section>
  {{ end  }}
</body>