linky-home-page > nav {
  margin-top: 1.5rem;
}

linky-home-page button[name='edit']:after {
  content: '✏️';
}
linky-home-page.editing button[name='edit']:after {
  content: '✅';
}

linky-home-page button[name='add']:after {
  content: '➕';
}

linky-home-page button[name='delete']:after {
  content: '🗑';
}

linky-home-page button[name='rename']:after,
linky-home-page button[name='rename-site']:after {
  content: '✍️';
}

linky-home-page input[name='login']:after {
  content: '🐿';
}

linky-home-page input[name='logout']:after {
  content: '🐿';
}

linky-home-page button[name='rename-site'] {
  display: none;
}
linky-home-page.editing button[name='rename-site'] {
  display: block;
}
