{{ define "link.html.tmpl" }}
<linky-link data-id={{ .ID }}>
  <a href="{{ .SiteUrl }}" target="_blank">
    <span class="title">{{ .SiteName }}</span>
    <span class="count" slot="count"></span>
  </a>

  <button class="delete" slot="btnDelete">Delete</button>
</linky-link>
{{ end }}