linky-link {
  &:not([data-id]) {
    display: none;
  }

  .link {
  }

  .count {
    font-size: 0.8rem;
    font-style: italic;

    &:not(:empty) {
      &:before {
        content: '(';
      }
      &:after {
        content: ')';
      }
    }
  }

  .edit {
    margin: 0;
    padding: 0;
    display: none;
  }
}

body.editing linky-link .edit {
  display: block;
}
