linky-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  flex-grow: 1;
}

.count {
  font-size: 0.8rem;
  flex-grow: 0;
}

.delete {
  display: none;
  flex-grow: 0;
}
