linky-link {
  display: list-item;
  list-style: decimal;
  margin-bottom: 0.5em;
}
linky-link:not([data-id]) {
  display: none;
}
linky-link > .count {
  font-size: 0.8rem;
  font-style: italic;
}
linky-link > .count:not(:empty):before {
  content: '(';
}
linky-link > .count:not(:empty):after {
  content: ')';
}

linky-link > .edit-menu {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 0.3rem;
}

linky-site.editing linky-link {
  & > .edit-menu {
    display: flex;
  }
}
