<body is="home-page" {{ if .EditMode }}class="editing"{{end}}>
  <header>
    <h1>{{ .User.SiteTitle }}</h1>
  </header>
  <main>
    {{ template "link-list.html.tmpl" . }}
  </main>
  <footer id="link-global-options">
    {{ template "edit-mode-form.html.tmpl" . }}
    {{ template "add-link-form.html.tmpl" . }}
    {{ template "session-form.html.tmpl" . }}
  </footer>

  {{ if not .IsDefaultUser  }}
  <section id="user-settings">
    <h2>Settings</h2>
    {{ template "user-settings-form.html.tmpl" . }}
    <h2>Data Import/Export</h2>
    {{ template "opml-upload-form.html.tmpl" . }}
    {{ template "opml-download-form.html.tmpl" . }}
  </section>
  {{ end  }}
</body>