<body is="page-about">
  <article>
    <header>
      <h1>About</h1>
    </header>
    <main>
      <p><em>link link dot click</em> is a tool for readers on the internet.</p>
    </main>
    <footer>
    </footer>
  </article>
</body>