<body is="page-home" {{ if .EditMode }}class="editing"{{end}}>
  <header>
    <h1>{{ .User.SiteTitle }}</h1>
  </header>
  <main>
    {{ template "link-list.html.tmpl" . }}
  </main>
  <footer id="link-global-options">
    {{ template "form-edit-mode.html.tmpl" . }}
    {{ template "form-add-link.html.tmpl" . }}
    {{ template "form-session.html.tmpl" . }}
  </footer>

  {{ if not .IsDefaultUser  }}
  <section id="user-settings">
    <h2>Settings</h2>
    {{ template "form-user-settings.html.tmpl" . }}
    <h2>Data Import/Export</h2>
    {{ template "form-opml-upload.html.tmpl" . }}
    {{ template "form-opml-download.html.tmpl" . }}
  </section>
  {{ end  }}
</body>