<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>🖇 my reading list</title>
    <link rel="stylesheet" href="/static/main.css" />
    <meta name="description" content="" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:alt" content="" />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="icon.png" />
  </head>

  <body>
    <header>
      <h1>🖇 my reading list</h1>
    </header>
    <main>
      {{ template "login.html.tmpl" }}
      <menu id="links">
      {{ range.Links }}
        {{ template "link.html.tmpl" .}}
      {{ end }}
      </menu>
    </main>
    <nav>
      <button name="edit">Edit</button>
      <button name="add">Add</button>
      <button name="login">Login/Signup</button>
    </nav>
    <template id="tmpl-link">
     {{ template "link.html.tmpl" .DummyLink }}
    </template>
    <script src="/static/main.js"></script>
  </body>
</html>
