<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>linkydink</title>
  <link rel="stylesheet" href="/static/main.css">
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="icon.png">

</head>

<body>
  <header></header>
  <main>
    {{ range .Links }}
      {{ template "link.html.tmpl" .}}
    {{ end }}
  </main>
  <footer>{{ template "add.html.tmpl" .}}</footer>
  <script src="/static/main.js"></script>
</body>

</html>