@import url('https://unpkg.com/modern-normalize@2.0.0/modern-normalize.css');

html {
  font-size: calc(75% + 3vw);
}
body {
  margin: 0;
  font-family: 'Garamond', 'Georgia', serif;
  color: hsl(0, 0%, 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin-top: 1.5rem 0px;
}

a {
  text-decoration: none;
  color: magenta;

  &:hover {
    color: orange;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.button {
  font-family: 'Helvetica', sans-serif;
  font-size: 0.6rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10%;
  padding: 0.2rem;
}
