html {
  font-size: calc(80% + 3vw);
}
body {
  margin: 6vw 8vw;
}

body > header > h1 {
  font-weight: normal;
  font-size: 1.4rem;
}

body > nav {
  margin-top: 1.5rem;
}

/*
 * loading indicator
 */
@keyframes loading {
  0% {
    content: '(loading)';
  }
  25% {
    content: '(loading.)';
  }
  50% {
    content: '(loading..)';
  }
  75% {
    content: '(loading...)';
  }
}

body.loading,
body.loading * {
  cursor: progress !important;
}

body.loading > nav:after {
  content: '(loading)';
  font-size: 0.6rem;
  font-style: italic;
  display: inline-block;
  animation: loading 3s linear infinite;
}

/*
 * form/button styles
 */
form {
  display: inline-block;
}

button,
input {
  font-size: 0.5rem;
  padding: 0.3em 0.5em;
}
button,
input[type='submit'] {
  cursor: pointer;
}

button:before,
input[type='submit']:before {
  display: inline-block;
  margin-right: 0.5em;
}
button:after,
input[type='submit']:after {
  display: inline-block;
  margin-left: 0.5em;
}

/*
 * button icons
 */

button[name='edit']:after {
  content: '✏️';
}
body.editing button[name='edit']:after {
  content: '✅';
}

button[name='add']:after {
  content: '➕';
}

button[name='delete']:after {
  content: '🗑';
}

button[name='rename']:after,
button[name='rename-site']:after {
  content: '✍️';
}

input[name='login']:after {
  content: '🐿';
}

input[name='logout']:after {
  content: '🐿';
}

button[name='rename-site'] {
  display: none;
}
body.editing button[name='rename-site'] {
  display: block;
}

/*
 * link styles
 */
linky-link {
  display: list-item;
  list-style: decimal;
  margin-bottom: 0.5em;
}

linky-link:not([data-id]) {
  display: none;
}
linky-link > .count {
  font-size: 0.8rem;
  font-style: italic;
}
linky-link > .count:not(:empty):before {
  content: '(';
}
linky-link > .count:not(:empty):after {
  content: ')';
}
linky-link > nav {
  display: none;
}
body.editing linky-link > nav {
  display: block;
}
