{{ template "head.html.tmpl" .Head }}
{{ if eq .PageName "about" }}
{{ template "page-about.html.tmpl" .Body }}
{{ else if eq .PageName "info" }}
{{ template "page-info.html.tmpl" .Body }}
{{ else if eq .PageName "home" }}
{{ template "page-home.html.tmpl" .Body }}
{{ else }}
{{ template "page-landing.html.tmpl" .Body }}
{{ end }}
{{ template "foot.html.tmpl" .Foot }}
