  {{ if not .HideFooter }}
  <footer>
    <nav>Built by <a target="_blank" href="https://andydayton.com">Andy</a> | <a href="/">Home</a> | <a href="/about">About</a> | 🍕 <a target="_blank" href="https://www.buymeacoffee.com/andydayton">Buy me a slice</a> </nav>
    <a class="code-link" target="_blank" href="https://github.com/andyinabox/linklinkdotclick/releases/tag/{{ .AppVersion }}">
  {{ .AppVersion }}</a>
  </footer>
  {{ end }}
  </body>
</html>
