<footer>
  Built by <a target="_blank" href="https://andydayton.com">Andy</a> | <a href="/about">About</a> | <a href="/about#privacy">Privacy</a> | <a target="_blank" href="https://www.buymeacoffee.com/andydayton">🍕 Buy me a slice</a>
</footer>