<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ .Title }}</title>

    {{ comment "https://github.com/sindresorhus/modern-normalize" }}
    <link rel="stylesheet" href="/static/normalize.css" />

    {{ comment "see original css file at /static/main.css" }}
    <link rel="stylesheet" href="/static/main.{{ .AppVersion }}.css" />

    <!-- your styles! -->
    <style id="user-styles">
      @layer user {
        {{ css .UserStyles }}
      }
    </style>

    {{ comment "sourcery" }}
    <script defer src="/static/main.{{ .AppVersion }}.js"></script>
    
    {{ comment "analytics" }}
    <script data-goatcounter="https://linklinkclick.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

    <meta name="description" content="{{ .Description }}" />

    <meta property="og:title" content="{{ .OgTitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Url }}" />
    <meta property="og:image" content="{{ .OgImageUrl }}" />
    <meta property="og:image:alt" content="{{ .OgImageAlt }}" />

    <link rel="icon" href="{{ .FavIconUrl }}" sizes="any" />
    <link rel="apple-touch-icon" href="{{ .AppleTouchIconUrl }}" />
    <link rel="manifest" href="{{ .ManifestUrl }}">
  </head>
