<body is="base-page" id="page-about">
  <main>
    <section>
      <h1>🖇 link link dot click</h1>
      <p>A tool for readers on the internet.</p>
      <ul>
        <li>🔗 Add sites you want to check in on</li>
        <li>🔄 Use RSS to see what's new</li>
        <li>⬇️ Sort based on when you last clicked</li>
      </ul>
      <p><a href="/demo">See the demo</a> to try it out, or just signup below 👇.</p>
      <form class="row editable" method="post" action="/session">
        <label for="email">Login/Signup: </label>
        <input id="email" type="email" name="email" placeholder="you@example.com">
        <button class="login" name="btn-login" type="submit" value="1">Go</button>
      </form>
    </section>

    <section>
      <h2>Bonus features</h2>
      <ul>
        <li>📄 Import/export from/to an RSS reader</li>
        <li>💅 Customize your styles with a fun little editor</li>
        <li>☕️ JavaScript not required (but recommended)</li>
      </ul>
    </section>

    <section>
      <h2>Why?</h2>
      <p>I wanted something that would help keep tabs on online reading without just becoming another inbox. RSS readers can be overwhelming, but it's nice to know when there's something new. Also, it's nice to actually go to websites to do your reading. I guess maybe I was just <a href="https://projects.kwon.nyc/internet-is-fun/">feeling nostalgic</a>.</p>
    </section>

    <section>
      <h2>Privacy & Security</h2>
      <ul>
        <li>The only piece of data I'm collecting is your email to send a login link</li>
        <li>Cookies are used to manage your login session only</li>
      </ul>
    </section>
  </main>
</body>