<body is="base-page" id="page-info">
  <h1>{{ .Message }}</h1>
  {{ if .Error }}<code class="error">Error: {{ .Error }}</code>{{ end }}
  {{ if .LinkUrl }}<footer><a href="{{ .LinkUrl }}">{{ .LinkText }}</a></footer>{{ end }}
</body>